@import "tailwindcss";

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop-in {
  animation: popIn 300ms ease-out forwards;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 1000ms ease-in-out infinite;
}

@keyframes visitedNode {
  0% {
    background-color: #53eafd;
    border-radius: 50%;
  }
  50% {
    background-color: rgba(0, 217, 159, 0.75);
    border-radius: 25%;
  }
  75% {
    background-color: #c6d2ff;
    border-radius: 10%;
  }
  100% {
    background-color: #53eafd;
    border-radius: 0;
  }
}

.animate-visited {
  animation: visitedNode 1250ms ease-out forwards;
}
